@{
    ViewData["Title"] = "Volba Akce";
   
}


<h1>Volba Akce</h1>


<div>
    <ul>
    <li><a href="@Url.Action("Register")">Registrovat dítě</a>         </li>
    <li><a href="@Url.Action("AddToGroup")">Přidat dítě do kroužku</a> </li>
    <li><a href="@Url.Action("ChildSearch")">Vyhledat děti</a>      </li>

    </ul>

</div>